
 /* Header */
.navbar-brand {
  padding-top: 25px;
  height: 70px;
}
#header-nav {
  background-color:#bbb;
}
h2, h3{
  padding: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -30px;
  line-height: .50;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/* Header end */

#nav-list > li {
 
  border-bottom:2px solid #000;

}
a.text-center {
  margin-left: 50%;
}

.food-menu {
  background-color:#bbb;
  margin: 0;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 20px;
    height: 60px;
}
.food-menu {
  margin-left: -80px;
}
.col-xs-9 {
  position:relative; 
  left:15%;
  right:15%;
}

/* Header end */